<div class="container bannertab hidden-sm hidden-xs">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#tab-best" data-toggle="tab">{{ text_best_bannertab }}</a></li>
        <li><a href="#tab-colection" data-toggle="tab">{{ text_colection_bannertab }}</a></li>
        <li><a href="#tab-bigsize" data-toggle="tab">{{ text_bigsize_bannertab }}</a></li>
        <li><a href="#tab-blog" data-toggle="tab">{{ text_blog_bannertab }}</a></li>
      </ul> 
    <div class="tab-content">   
      <!--best-->
      <div class="tab-pane active" id="tab-best">
        {% for banner in banners %}                            
          <div>
            <img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" width="100%" height="100%" />
            {% if banner.link %}<a href="{{ banner.link }}" alt="{{ banner.title }}">{{ banner.description }}</a>{% endif %} 
          </div>   
        {% endfor %}
      </div>    
      <!--colection-->
      <div class="tab-pane" id="tab-colection">
        {% for banner in banners %}                            
          <div>
            <img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" width="100%" height="100%" />
            {% if banner.link %}<a href="{{ banner.link }}" alt="{{ banner.title }}">{{ banner.description }}</a>{% endif %} 
          </div>   
        {% endfor %}
      </div>        
      <!--bigsize-->
      <div class="tab-pane" id="tab-bigsize">
        {% for banner in banners %}                            
          <div>
            <img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" />
            {% if banner.link %}<a href="{{ banner.link }}" alt="{{ banner.title }}">{{ banner.description }}</a>{% endif %} 
          </div>   
        {% endfor %}
      </div>      
      <!--blog-->
      <div class="tab-pane" id="tab-blog">
        {% for banner in banners %}                            
          <div>
            <img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" />
            {% if banner.link %}<a href="{{ banner.link }}" alt="{{ banner.title }}">{{ banner.description }}</a>{% endif %} 
          </div>   
        {% endfor %}
      </div>    
    </div>   
</div>